* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    overflow-x: hidden;
}

/*navbar*/

#menu {
    width: 95vw;
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    text-transform: uppercase;
    height: 40px;
}
#menu input {
    height: 30px;
    width: 120px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 15px;
    border-color: transparent;
    background: #c3bfbc;
}
.NavBarLogo {
    width: 80px;
    height: auto;
}
#menu ul li {
    display: inline;
    text-decoration: none;
    
}

#menu a {
    text-decoration: none;
    font-size: 17px;
    margin-left: 75px;
    font-weight: 700;
    color: #54524f;
    letter-spacing: 3px;

}

ul {
    list-style-type: none;
    justify-content: flex-end;
}

.search-btn {
    height: 25px;
    width: 30px;
    margin-left: -29px;
    background-color: #c3bfbc;
    border-radius: 15px;
    border: transparent;
    color: #54524f;
}
.search-btn:hover{
    cursor: pointer;
}

/* Hiking section*/

.hiking-section {
    width: 105%;
    height: 140vh;
    background-image: url('img/Hiker.png');
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    
}

.top-detail {
    width: 105vw;
    height: 250px;
    position: absolute;
    background-image: url('img/Hiker-img-shape-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    top: -15px;
    left: -30px;
    right: 0px;
    z-index: 10;
}

.bottom-detail {
    width: 110%;
    height: 250px;
    position: absolute;
    background-image: url('img/Hiker-img-shape-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    bottom: -75px;
    left: -55;
    z-index: 10;
    margin-left: -20px;
}

.hiking {
    padding-top: 400px;
    margin-left: 75px;
    width: 600px;
    text-shadow: rgb(189, 189, 189) 5px 0px 5px; 
    font-size: 92px;
    font-weight: 900;
    color: #deb37e;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.hike-with-us {
    margin-top: -10px;
    margin-left: 80px;
    font-size: 25px;
    font-family: 'Open Sans'; 
    text-transform: uppercase;
    font-style: italic;
    font-weight: 500;
    color: #54524f;
}

.more-btn {
    margin-top: 60px;
    margin-left: 85px;
    width: 210px;
    height: 50px;
    border-radius: 25px;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    color: #776c64;;
    border: transparent;
    background-color: white;
}
.more-btn:hover {
    cursor: pointer;
    background-color: black;

}
.hiking-text {
    width: 452px;
    height: 130px;
    font-size: 21px;
    margin-left: 80px;
    padding-top: 10px;
    color: #54524f;
    font-weight: 800;
    font-style: italic;
}

/*lets go section*/ 
.lets-go {
    width: auto;
    height: auto;
    background-image: url('img/Shadow.png');
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: -15%;
    background-position-y: 95%;
    
}
.lets-go-title {
    margin-top: 100px;
    text-align: center;
    font-size: 63px;
    color: #e2a355;
    font-weight: 800;
    text-transform: uppercase;
}

.lets-go-description {
    text-align: center;
    font-size: 27px;
    color: #7f7770;
    height: 200px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}


.itens {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 25vh;
    margin-left: 20%;
}

.itens-title h3{
    padding-top: 10vh;
    padding-left: 20vh;
    font-size: 3rem;
    font-weight: 500;
    color: hsl(233, 26%, 24%);
}


.itens img {
    width: 339px;
    height: 227px;
}

.item-title {
    width: 11vw;
    margin-top: 10px;
    margin-left: 3vh;
    font-weight: 400;
    color: white;
}

#item-text {
    color: white;
    font-size: 27px;
    font-weight: 400;
    width: 300px;
    height: 200px;
    margin-left: 3vh;
}


/* Configurações de cada item */

.item-1 {
    background-color: #7f776f;
    width: 339px;
    margin-right: 5vh;
    padding-bottom: 5vh;
}

.item-2 {
    background-color: #7f776f;
    width: 339px;
    margin-right: 5vh;
    padding-bottom: 5vh;    
}

.item-3 {
    background-color: #7f776f;
    width: 339px;
    margin-right: 5vh;
    padding-bottom: 5vh;   
}

.show-btn-div {
    margin-top: -150px;
    width: 300px;
    height: 60px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}
.show-btn {
    width: 300px;
    border-radius: 50px;
    border: transparent;
    background-color: #7f7770;
    font-size: 27px;
    color: white;
    font-weight: 800;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.show-btn:hover {
    background-color: #7a7a7a;
    color: black;
    cursor: pointer;
}

/* grid section */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.grid-item-1 {
    width: 600px;
    height: auto;
}
.grid-img-1 {
    width: 950px;
    height: 705px;
}

.grid-img-2 {
    width: 950px;
    height: 705px;
    margin-top: -5px;
}

.grid-item-2 {
    width: 120%;
    height: 705px;
    background-color: #7f7770;
    margin-left: -5px;

}
.grid-item-3 {
    width: 120%;
    height: 705px;
    background-color: #deb37e;
    margin-left: -5px;
    margin-top: -5px;

}

.grid-item-2-title {
    margin-top: 150px;
    margin-left: 80px;
    width: 550px;
    font-size: 58px;
    color: white;
    font-weight: 700;
}

.grid-item-2-text {
    width: 600px;
    margin-left: 80px;
    font-size: 29px;
    color: white;
    font-weight: 400;
}

.grid-item-2-btn {
    margin-left: 80px;
    margin-top: 30px;
    width: 330px;
    height: 70px;
    border-radius: 50px;
    border: transparent;
    background-color: #e2a355;
    font-size: 29px;
    font-weight: 600;
    letter-spacing: 6px;
    color: white;
    text-transform: uppercase;
}

.grid-item-2-btn:hover {
    cursor: pointer;
    background-color: #d6831d;
}

/*Mountains section*/

.mountains {
    width: 105%;
    height: 100vh;
    position: relative;
    background-color: #99928d;
    opacity: 0.9;
    background-image: url('img/Shadow.png');
    background-repeat: no-repeat;
    background-position-x: -80px;
    background-position-y: 250px;
}

.mountains-detail-top {
    width: 100%;
    height: 250px;
    position: absolute;
    background-image: url('img/Hiker-img-shape-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    top: -15px;
    left: -30px;
    right: 0px;
    z-index: 100;
}

.mountains-detail-bottom {
    width: 110%;
    height: 200px;
    position: relative;
    background-image: url('img/Hiker-img-shape-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    bottom: -105px;
    left: -55;
    z-index: 2;
    margin-left: -20px;
}



.mountains-title {
    padding-top: 450px;
    text-align: center;
    font-size: 58px;
    color: white;
    font-weight: 600;
}

.moutains-text-p {
    width: 921px;
    height: 188px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 29px;
    color: #dbdbdb;
    font-weight: 400;
}

/*Explorer section*/
 {
    
}
.explorer {
    margin-top: 200px;
    margin-bottom: 100px;
    height: 1200px;
    width: auto;
    background-image: url('img/explorer-world.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}


.explorer-detail-top{
    width: 105%;
    height: 250px;
    position: absolute;
    background-image: url('img/Hiker-img-shape-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -50px;
    top: -55px;
    left: -30px;
    right: 0px;
}

.explorer-detail-bottom {
    width: 110%;
    height: 180px;
    position: relative;
    background-image: url('img/Hiker-img-shape-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    bottom: -300px;
    left: -55;
    margin-left: -20px;
}

.explorer-title {
    padding-top: 520px;
    margin-left: 65%;
    margin-right: 180px;
    font-size: 86px;
    font-style: italic;
    color: #deb37e;
    font-weight: 800;
    filter: drop-shadow(2.575px -4.286px 2.5px rgba(84,82,79,0.36));
    text-transform: uppercase;
    text-align: right;
}

.explorer-color-change {
    color: #54524f;
}